{% extends "blog/base.html" %}

{% block content %}

<h1>Welcome to Blog Platform</h1>

<form method="GET">

    <input
        type="text"
        name="q"
        placeholder="Search posts..."
        value="{{ query }}"
    >

    <button type="submit">
        Search
    </button>

</form>


{% for post in posts %}

<div class="card">

    <h2>
        {{ post.title }}
    </h2>

    <p>
        By {{ post.author.username }}
    </p>

    <p>
        {{ post.content|truncatewords:30 }}
    </p>

    {% if post.category %}
        <p>
            Category: {{ post.category.name }}
        </p>
    {% endif %}

    <a
        class="btn"
        href="{% url 'post_detail' post.id %}"
    >
        Read More
    </a>

</div>

{% empty %}

<p>No posts found.</p>

{% endfor %}

{% endblock %}